### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store!/src/ru/mirea/lab1/Ex5.class

### Self Ignore ###
!**/src/ru/mirea/lab1/Ex5.class
src/ru/mirea/lab1/Ex5.class!/src/ru/mirea/Labs7-16.rar
